In [22]:
import pandas as pd
import os
import yfinance as yf
os.chdir('C:/Users/basleal/Desktop/tutorial/kaim-week-11')

In [29]:
%load_ext autoreload
%autoreload 2

In [23]:
ticker = ['TSLA','BND','SPY']
starttime = '2015-01-01'
endtime = '2025-01-31'
data = yf.download(ticker,start=starttime,end=endtime)

[*********************100%***********************]  3 of 3 completed

In [28]:
data

Price           Close                               High              \
Ticker            BND         SPY        TSLA        BND         SPY
Date
2015-01-02  62.573097  172.592850   14.620667  62.603381  173.811083
2015-01-05  62.754814  169.475937   14.006000  62.777526  171.702341
2015-01-06  62.936508  167.879623   14.085333  63.125780  170.316066
2015-01-07  62.974392  169.971619   14.063333  63.050099  170.316085
2015-01-08  62.875988  172.987747   14.041333  62.921411  173.206195
...               ...         ...         ...        ...         ...
2025-01-24  71.805977  607.969971  406.579987  71.855810  610.780029
2025-01-27  72.184738  599.369995  397.149994  72.204677  599.690002
2025-01-28  72.144867  604.520020  398.089996  72.154837  605.369995
2025-01-29  72.104996  601.809998  389.100006  72.254510  604.130005
2025-01-30  72.204674  605.039978  400.279999  72.294378  606.599976

Price                         Low                               Open  \
Ticker            TSLA        BND         SPY        TSLA        BND
Date
2015-01-02   14.883333  62.398965  171.542657   14.217333  62.406538
2015-01-05   14.433333  62.610966  169.165084   13.810667  62.641250
2015-01-06   14.280000  62.860801  167.073070   13.614000  62.860801
2015-01-07   14.318667  62.875973  168.770204   13.985333  62.944108
2015-01-08   14.253333  62.815420  171.383062   14.000667  62.921411
...                ...        ...         ...         ...        ...
2025-01-24  418.880005  71.636531  606.799988  405.779999  71.766106
2025-01-27  406.690002  72.025262  594.640015  389.000000  72.104996
2025-01-28  400.589996  71.975421  597.250000  386.500000  72.154837
2025-01-29  398.589996  71.935550  599.219971  384.480011  72.194707
2025-01-30  412.500000  72.144864  600.719971  384.410004  72.224605

Price                                Volume
Ticker             SPY        TSLA      BND        SPY      TSLA
Date
2015-01-02  173.391006   14.858000  2218800  121465900  71466000
2015-01-05  171.534312   14.303333  5820100  169632600  80527500
2015-01-06  169.786764   14.004000  3887600  209151400  93928500
2015-01-07  169.223882   14.223333  2433400  125346700  44526000
2015-01-08  171.399856   14.187333  1873400  147217800  51637500
...                ...         ...      ...        ...       ...
2025-01-24  609.809998  414.450012  5555700   34604700  56427100
2025-01-27  594.809998  394.799988  8621200   70361100  58125500
2025-01-28  600.619995  396.910004  4424300   44433300  48910700
2025-01-29  603.719971  395.209991  5780200   37177400  68033600
2025-01-30  603.960022  410.779999  5622300   39281300  98092900

[2535 rows x 15 columns]

now let's split our codes into test and train

In [31]:
from scripts.forecast import split_test_train
train,test = split_test_train(data)
train.shape

(2028, 15)

In [32]:
test.shape

(507, 15)